.transport-container,
.allocation-container{
    width:95%;
    margin:auto;
    padding:25px;
}

.erp-table{
    width:100%;
    border-collapse:collapse;
    background:white;
}

.erp-table th{
    background:#a426b5;
    color:white;
    padding:15px;
}

.erp-table td{
    padding:15px;
    border-bottom:1px solid #ddd;
}

.allocation-card{
    background:white;
    padding:30px;
    border-radius:15px;
    box-shadow:0px 2px 10px rgba(0,0,0,.15);
}

.form-group{
    margin-bottom:20px;
}

.form-group label{
    display:block;
    margin-bottom:8px;
    font-weight:600;
}

.form-group select,
.form-group textarea{
    width:100%;
    padding:12px;
    border:1px solid #ccc;
    border-radius:10px;
}

.btn-row{
    display:flex;
    gap:20px;
}

.allocate-btn{
    background:#a01fae;
    color:white;
    border:none;
    padding:12px 25px;
    border-radius:10px;
}

.complete-btn{
    background:green;
    color:white;
    border:none;
    padding:12px 25px;
    border-radius:10px;
}