.nationality-container {

    display: flex;
    gap: 15px;
    width: 100%;

}

.nationality-container .form-group {

    flex: 1;

}

.form-group label .required {
    color: #dc2626;
    margin-left: 2px;
    font-weight: 600;
}