.erp-form-group{

    display:flex;

    flex-direction:column;

    gap:6px;

}

.erp-form-group label{

    font-weight:600;

    color:#2f3b52;

}

.required{

    color:red;

    margin-left:4px;

}

.erp-input{

    width:100%;

    padding:10px 12px;

    border:1px solid #cfd8dc;

    border-radius:6px;

    font-size:14px;

    transition:.2s;

    box-sizing:border-box;

}

.erp-input:focus{

    outline:none;

    border-color:#1976d2;

    box-shadow:0 0 4px rgba(25,118,210,.3);

}

.full-width{

    grid-column:1/-1;

}

.erp-form-modal{

    width:900px;
    max-width:95%;
    max-height:90vh;

    background:#fff;

    border-radius:12px;

    display:flex;
    flex-direction:column;

    overflow:hidden;

    box-shadow:0 15px 40px rgba(0,0,0,.2);

}

.erp-form-modal.md{
    width:900px;
}

.erp-form-modal.xl{
    width:1500px;
}

.erp-form-header{

    display:flex;

    justify-content:space-between;

    align-items:center;

    padding:20px 24px;

    border-bottom:1px solid var(--border);

}

.erp-form-header h2{

    margin:0;

    color:#1f3c88;

}

.erp-form-body{

    padding:24px;

    overflow:auto;

    flex:1;

}

.erp-form-footer{

    padding:20px 25px;

    border-top:1px solid #ddd;

    display:flex;

    justify-content:flex-end;

    gap:12px;

}

.modal-close-btn{

    width:36px;

    height:36px;

    border:none;

    background:transparent;

    border-radius:50%;

    font-size:22px;

    color:var(--text-light);

    cursor:pointer;

    display:flex;

    align-items:center;

    justify-content:center;

    transition:var(--transition);

}

.modal-close-btn:hover{

    background:var(--primary-light);

    color:var(--primary-dark);

}
.modal-overlay {
    position: fixed;
    inset: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    background: rgba(0, 0, 0, 0.45);

    z-index: 9999;
}